In [279]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [280]:
credits=pd.read_csv(r"tmdb_5000_credits.csv")
movies=pd.read_csv(r"tmdb_5000_movies.csv")

In [281]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [282]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [283]:
## movies ke most imp columns
# genres 
# id
# keywords
# original_language
# overview
# popularity
# title
movies=movies[['genres','id','keywords','overview','popularity','title']]

In [284]:
movies= movies.merge(credits,on='title')

In [285]:
movies.head(1)

,genres,id,keywords,overview,popularity,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [286]:
## thoda preprocessing karte hain
# genres
# keywords
# original_language
# overview
# popularity
# title
def convert(x):
    l = []
    for i in ast.literal_eval(x):
        l.append(i['name'])
        
    return l

In [287]:
movies['genres'].isna().sum()

0

In [288]:
import ast

In [289]:
movies['genres']=movies['genres'].apply(convert)

In [290]:
movies['keywords'].isna().sum()

0

In [291]:
movies['keywords']=movies['keywords'].apply(convert)

In [292]:
tags = "[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}]"
ast.literal_eval(tags)  # ✅ This is okay

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'}]

In [293]:
movies.head(5)

,genres,id,keywords,overview,popularity,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,107.376788,Spectre,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,The Dark Knight Rises,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,John Carter,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [294]:
movies['overview'].isna().sum()  # ✅ This is okay

3

In [295]:
movies.dropna(inplace=True)  # ✅ This is okay

In [296]:
movies.isna().sum()

genres        0
id            0
keywords      0
overview      0
popularity    0
title         0
movie_id      0
cast          0
crew          0
dtype: int64

In [297]:
def convert3(x):
    l = []
    counter = 0
    for i in ast.literal_eval(x):
      if counter<3:  
        l.append(i['name'])
        counter+=1
      else: 
        break
    return l

In [298]:
movies['cast'] = movies['cast'].apply(convert3)

In [299]:
movies['cast'] = movies['cast'].apply(lambda x: x[0:3])

In [300]:
movies.head(5)

,genres,id,keywords,overview,popularity,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,Pirates of the Caribbean: At World's End,285,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,107.376788,Spectre,206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,The Dark Knight Rises,49026,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,John Carter,49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [301]:
def fetch_director(x):
    l=[]
    for i in ast.literal_eval(x):
        if i['job'] == 'Director':
            l.append(i['name'])
            
    return l

In [302]:
 # movies['overview'] = movies['overview'].apply(lambda x: x.split())  # ✅ This is okay

In [303]:
movies['crew'] = movies['crew'].apply(fetch_director)  # ✅ This is okay
movies.head(5)

,genres,id,keywords,overview,popularity,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,Pirates of the Caribbean: At World's End,285,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,107.376788,Spectre,206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,The Dark Knight Rises,49026,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,John Carter,49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [311]:
def collapse(L):
    l1=[]
    for i in L:
        l1.append(i.replace(" ",""))
    return l1

In [305]:
# movies['cast'] = movies['cast'].apply(convert)

In [312]:
movies['cast']=movies['cast'].apply(collapse) 
movies['keywwords']=movies['keywords'].apply(collapse)
movies['genres']=movies['genres'].apply(collapse)
movies['crew']=movies['crew'].apply(collapse)
movies.head(5)

,genres,id,keywords,overview,popularity,title,movie_id,cast,crew,keywwords
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,Pirates of the Caribbean: At World's End,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,107.376788,Spectre,206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,The Dark Knight Rises,49026,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden..."
4,"[Action, Adventure, ScienceFiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,John Carter,49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p..."

In [313]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())  # ✅ This is okay

In [ ]:
movies['tags']= movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [316]:
newdf=movies[['id','title','tags']]
newdf.head(5)

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [317]:
newdf['tags']=newdf['tags'].apply(lambda x: " ".join(x))

In [318]:
newdf

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [324]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(max_features=5000,stop_words='english')
vector=cv.fit_transform(newdf['tags'])

In [323]:
vector.toarray()  # ✅ This is okay

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [325]:
vector.shape

(4806, 5000)

In [328]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vector)

In [331]:
newdf[newdf['title'] == 'The Dark Knight Rises'].index[0]  # ✅ This is okay

3

In [335]:
def recommend(movie):
    movie_index=newdf[newdf['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(newdf.iloc[i[0]].title)

In [ ]:
newdf['title'].values 
recommend('The Dark Knight Rises')

The Dark Knight
Batman
Batman Begins
Batman
Batman Returns

In [337]:
similarity

array([[1.        , 0.07377111, 0.03563483, ..., 0.0348684 , 0.01964944,
        0.        ],
       [0.07377111, 1.        , 0.04600437, ..., 0.04501491, 0.        ,
        0.        ],
       [0.03563483, 0.04600437, 1.        , ..., 0.02174427, 0.        ,
        0.        ],
       ...,
       [0.0348684 , 0.04501491, 0.02174427, ..., 1.        , 0.07194017,
        0.04448841],
       [0.01964944, 0.        , 0.        , ..., 0.07194017, 1.        ,
        0.05014122],
       [0.        , 0.        , 0.        , ..., 0.04448841, 0.05014122,
        1.        ]])

In [338]:
import pickle

In [339]:
pickle.dump(newdf.to_dict(),open('movie_dict.pkl','wb')) 
pickle.dump(similarity,open('similarity.pkl','wb'))

In [342]:
recommend('The Dark Knight Rises')
print("........................................")
recommend('Avatar')
print("........................................")
recommend('The Avengers')

The Dark Knight
Batman
Batman Begins
Batman
Batman Returns
........................................
Aliens
Moonraker
Alien
Silent Running
Alien³
........................................
Avengers: Age of Ultron
Fantastic Four
Captain America: Civil War
Ant-Man
Iron Man 2

In [350]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)
stem("hello how are you")

'hello how are you'

In [351]:
stem("dancing is my hobby")  # ✅ This is okay

'danc is my hobbi'

In [352]:
newdf['tags']=newdf['tags'].apply(stem)

In [353]:
newdf

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [355]:
similarity

array([[1.        , 0.07377111, 0.03563483, ..., 0.0348684 , 0.01964944,
        0.        ],
       [0.07377111, 1.        , 0.04600437, ..., 0.04501491, 0.        ,
        0.        ],
       [0.03563483, 0.04600437, 1.        , ..., 0.02174427, 0.        ,
        0.        ],
       ...,
       [0.0348684 , 0.04501491, 0.02174427, ..., 1.        , 0.07194017,
        0.04448841],
       [0.01964944, 0.        , 0.        , ..., 0.07194017, 1.        ,
        0.05014122],
       [0.        , 0.        , 0.        , ..., 0.04448841, 0.05014122,
        1.        ]])